@use "../../foundation/forwards" as *;

// ============================================
// ANNOUNCEMENT SECTION
// ============================================

.c-announcement {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 67.5rem;
  justify-content: center;
  align-items: center;

  &_section {
    background-image: url("../img/common/bg_camouflage01.webp");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 5% 0;
  }

  &_titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2;

      &:nth-child(2) {
        color: $text-lightBlue;
        font-size: 3.75rem;
      }
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-weight: 500;

    span {
      color: $mainColor1;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.c-section_white {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("../img/common/bg_white_pattern.webp");
  background-size: cover;
  background-position: 0% -170%;
}

.c-section_lightBlue {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("../img/common/bg_light_blue.webp");
  background-size: cover;
  background-position: center;
}
