@use "../../foundation/forwards" as *;

// ============================================
// MAXWIDTH AND BREADCRUMBS
// ============================================

.c-maxWidth {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.c-breadcrumb {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-separator {
    font-size: 1rem;
    color: $text-lightBlue;
  }
}

// 予約ページ用パンくずリストスタイル
.p-breadcrumb {
  top: 140%;
  width: 90%;
}
