@use "../../foundation/forwards" as *;

// ============================================
// SECTION HEADER TEXT
// ============================================

.c-section-header {
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__subtitle {
    // defined via HTML context
  }

  &__title {
    // defined via HTML context
  }
}

@media screen and (max-width: 767px) {
  .c-section-header {
    gap: 10px;
    z-index: 10;
    position: relative;

    &__subtitle {
      font-size: 16px;
      z-index: 10;
    }

    &__title {
      font-size: 60px;
      z-index: 10;
      position: relative;
    }
  }
}
