@use "../../foundation/forwards" as *;

// ============================================
// TEXT SLIDER
// ============================================

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.c-text-marquee {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -5px;
  z-index: 0;

  &__track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .c-text-marquee__slide {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $base-grayBlue;
    box-sizing: border-box;

    p {
      text-wrap: nowrap;
    }
  }
}

@media screen and (max-width: 767px) {
  .c-text-marquee {
    height: 50px !important;
  }
}
