.p-point {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left:20px;
  padding-right:20px; */
}
.p-point__container {
  width: 100%;
}
.p-point__container__content01 {
  background-image: url("../img/family/bg_family_content1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
}
.p-point__container__content01-wrapper,
.p-point__container__content02-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 150px 20px 100px 20px;
}
.p-point__container__content01-wrapper {
  display: flex;
  flex-direction: row;         /* flex-row */
  gap: 40px;                   /* gap-40px */
}
.p-point__container__content02-wrapper {
  display: flex;
  flex-direction: column;      /* flex-col */
  gap: 77px;                   /* gap-77px */
}
.p-point__item01 {
  width: 100%;
  display: flex;
  flex-direction: row;         /* flex-row */
  gap: 60px;                   /* gap-60px */
}
.p-point__container__content01 {
  width: 100%;                 /* w-full */
}
.p-point__container__content01-wrapper h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--base-lightBlue);
}

.p-point__container__content02 {
  background-image: url("../img/family/bg_summary.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.p-point__item_summary {
  padding: 75px 30px 40px 30px;
  background-color: var(--base-white); /* bg-white */
  position: relative;          /* relative */
  width: 100%;                 /* w-full for warn variant */
}
.p-point__item_summary-left,
.p-point__item_summary-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.p-point__item_summary_last {
  padding-bottom: 33px;
}
.p-point__item_summary_label {
  background-color: var(--base-lightBlue);
  width: fit-content;
  padding: 10px 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 240px;
  text-align: center;
  white-space: nowrap;
}
.p-point__item_summary-left,
.p-hospitality__item_wrapper {
  list-style: none;
}
.p-point__item_summary-right {
  width: calc(100% - 60px);
}

.p-point__table-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.p-point__table {
  width: 100%;
  border-collapse: collapse;
}
.p-point__container__content01-wrapper p:first-child {
  line-height: 30px !important;
}
.p-point .p-point__table thead th {
  text-align: left;
  padding: 0px 0px 25px 0px;
  color: var(--text-lightBlue);
  font-weight: 700;
  border-bottom: 1px solid #e6eeee;
  font-size: 16px;
  text-wrap: nowrap;
}

.p-point .p-point__table tbody td {
  padding: 24px 0px;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  font-weight: 500;
}
/* .p-protein_campaign_header p{
  line-height:30px !important;
} */
.p-point__table tbody tr:hover {
  background: #f9fbfb;
  transition: all 0.3s ease-in-out;
}

.p-point__table tbody tr td:first-child {
  width: 320px;
  border-right: 1px solid #eaeaea;
}
.p-point__table tbody tr td:last-child {
  text-align: left;
  padding-left: 20px;
}

.point-redemption-ribbon {
  position: absolute;
  top: -120px;
  z-index: 1;
  right: -190px;
  width: 100%;
}
.point-redemption-sticker1 {
  margin-left: 20px;
  top: 30px;
}
.point-redemption-sticker2 {
  margin-right: 60px;
  top: 35px;
}

.p-point__item_summary_label-red {
  background-color: var(--base-red);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.p.point__item_summary-warn {
  padding-bottom: 20px;
}
.p.point__item_summary-warn ul {
  margin-left: 20px;
  margin-right: 20px;
}

.p.point__item_summary-warn ul li::marker {
  font-size: 13px;
}

.p-recommended {
  background-image: url("../img/point-redemption/bg_recommended.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.p-recommended_btn {
  position: absolute;
  bottom: 11px;
  right: 10px;
}

/* おすすめセクション */
.p-hospitality {
  width: 100%;
  padding: 100px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/point-redemption/bg_hospitality.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.p-hospitality__container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.p-hospitality__item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  width: 100%;
}
.p-hospitality__item {
  background-color: var(--base-white);
  width: 100%;                 /* w-full */
}
.p-hospitality__item__label {
  background-color: var(--base-lightBlue);
  padding: 15px 0px;
  width: 100%;
  text-align: center;
}
.p-hospitality__item__label02 {
  background-color: var(--base-darkGray);
}
.p-hospitality__item p:not(.p-hospitality__item__label) {
  text-align: center;
  padding: 20px;
}

.point__item_summary-warn ul li {
  line-height: 30px;
}
.p-point ul li p:not(.p-point__item_summary_label) {
  line-height: 30px;
}
.p-online-shop .u-gap-50px {
  gap: 40px;
}

@media screen and (max-width: 1200px) {
  .p-point__item01 {
    flex-direction: column;
    gap:20px;
  }
  .p-point__item_summary-right {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .p-point__container__content01-wrapper .c-flex-gap-30 {
    flex-direction: column;
  }
  .p-point__container__content01-wrapper .c-flex-gap-30 img {
    width: 100%;
  }
  .p-point__container__content01-wrapper p {
    line-height: 30px !important;
  }
  .p-point__container__content01-wrapper .c-flex-gap-4 {
    gap: 0px;
  }
  .p-point__item_summary-left {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .p-hospitality__item_wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .p-point__container__content02-wrapper {
    padding: 50px 20px;
  }
  .p-point .p-protein_campaign_block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .p-point__container__content01-wrapper {
    padding: 100px 0px;
  }
  .p-point__container__content02-wrapper {
    gap: 30px;
  }
  .p-point__item_summary_label,
  .p-hospitality__item__label {
    font-size: 16px;
    text-align: center;
    padding: 8px 0px;
    min-width: 200px;
  }
  .p-point__item_summary {
    /* padding: 55px 20px 20px 15px; */
  }
  .p-point__table tbody tr td:first-child {
    width: 140px;
  }
  .p-point__item_summary-left > :first-child {
    padding-top: 50px;
  }
  .p-point__item_summary-left > :last-child {
    padding-bottom: 20px;
  }
  .p-point__container__item01,
  .p-point__container__content02-wrapper .c-section__stack-50 {
    gap: 20px;
  }

  .p-recommended {
    padding-bottom: 50px;
  }
  .p-hospitality {
    padding: 100px 20px;
  }
  .p-hospitality__container {
    gap: 30px;
  }
  .p-hospitality__container .c-flex-col-start-62,
  .p-hospitality__container .c-flex-col-start-60 {
    gap: 40px;
  }

  .p-hospitality__item_wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .p-hospitality .c-flex-gap-30 {
    gap: 15px;
  }
  .p-hospitality .c-flex-gap-30 img {
    width: 50px;
  }
  .p-hospitality .c-flex-gap-30 p.u-fs-24 {
    font-size: 20px;
  }
  .p-online-shop .dr-amazones-section {
    margin-top: 200px;
  }
  .p-online-shop .dr-amazones-container {
    max-height: 800px;
  }
}

@media screen and (max-width: 500px) {
  /* .p-point__table tbody tr td:first-child {
      width: 120px;
      
  } */
  .p-point .p-point__table thead th {
    text-wrap: wrap;
    line-height: 30px;
    text-align: center;
  }
}
/* おすすめセクション終了 */

/* 再利用可能 */
/* DR AMAZONES */
/* トップ DR AMAZONES セクション */
.dr-amazones-container {
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;
   position:relative;
}
.dr-amazones-section {
  z-index: 2;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--base-white);
  padding: 60px 77px;
  width: 100%;
  max-width: 1000px;
}

.dr-amazones-section .triangle-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
.shop-ribbon-sp {
  display: none;
}
.dr-amazones-container h2 {
  line-height: 50px;
}
@media screen and (max-width: 1700px) {
  .dr-amazones-container {
    flex-direction: column !important;
  }
  .dr-amazones-section {
    position: relative !important;
    align-self: end;
    margin-top: 100px;
  }
  .dr-amazones-section {
    /* max-height:350px; */
  }
  .dr-amazones-container {
    max-height: 1000px;
   
  }
  .drAmazones-pic {
    width: 100vw;
    /* transform:scale(1.4);
  object-position: 0 -20px;
  margin-top:40px; */
  }
}

@media screen and (max-width: 800px) {
  .dr-amazones-container h2 {
    font-size: 42px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .dr-amazones-section {
    width: 95%;
  }
  .dr-amazones-section__body,
  .dr-amazones-section__inner {
    gap: 20px;
  }

  .dr-amazones-section {
    padding: 30px;
  }

  .dr-amazones-label {
    width: 295px;
    height: auto;
  }
  .triangle-icon {
    width: 120px;
    height: auto;
  }
  .dr-amazones-btn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .drAmazones-pic {
    width: 100vw;
    transform: scale(1.4);
    object-position: 0 -20px;
    margin-top: 40px;
  }
}
/* DR AMAZONES セクション終了 */

/* 再利用可能 */
.p-protein_campaign_block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.p-protein_campaign_header {
  padding: 2rem 0;
  border-bottom: 1px solid var(--base-lightBlue);
}

.p-protein_campaign_header p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
}

.p-protein_campaign_header span {
  font-size: 1.5rem;
  color: var(--text-lightBlue);
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .p-protein_campaign_header p,
  .p-protein_campaign_header span {
    font-size: 1rem;
    /* line-height: 1.7; */
  }
}
