@use "../../foundation/forwards" as *;

.p-family {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ol,
  ul {
    list-style-type: none;
  }
}

.p-family__container {
  width: 100%;
}

.p-family__container__content01 {
  background-image: url("../img/family/bg_family_content1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  width: 100%;

  > div {
    width: 100%;
    max-width: 1440px;
    padding: 150px 20px 100px 20px;

    p {
      line-height: 30px;
    }
  }
}

.p-family__container__content01-wrapper {
  h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid $mainColor1;
  }
}

.p-family__content02 {
  background-image: url("../img/family/bg_summary.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.p-family__content02-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 150px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 77px;
}

.p-family__summary {
  padding: 75px 30px 50px 30px;
  background-color: $white;
  position: relative;
}

.p-family__summary__last {
  padding-bottom: 33px;
}

.p-family__summary__label {
  background-color: $mainColor1;
  width: fit-content;
  padding: 10px 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 240px;
}

.p-family__table__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.p-family__table {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;

  thead th {
    text-align: left;
    padding: 18px 0px 25px 0px;
    color: $text-lightBlue;
    font-weight: 700;
    border-bottom: 1px solid #e6eeee;
    font-size: 16px;
    text-wrap: nowrap;
  }

  tbody {
    td {
      padding: 20px 0px;
      border-bottom: 1px solid #eaeaea;
      font-size: 16px;
      font-weight: 500;
    }

    tr {
      &:hover {
        background: #f9fbfb;
        transition: all 0.3s ease-in-out;
      }

      td:first-child {
        min-width: 321px;
      }

      td:last-child {
        text-align: right;
      }
    }
  }

  .c-btn--green {
    transform: scale(0.85);
    margin-left: 20px;
  }
}

.p-family__table__normal {
  color: #666;
  text-decoration: line-through;
  text-wrap: nowrap;
}

.p-family__case__strike {
  text-decoration: line-through;
  margin-right: 5px;
}

.p-family__case__item {
  padding-bottom: 40px;
  border-bottom: 1px solid $base-gray;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;

  &.u-text-red {
    margin-left: 5px;
  }
}

.p-family__case-item:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.p-family__table__item__discount {
  color: #ff4d5a;
  font-weight: 700;
  font-size: 16px;
}

.p-family__main {
  background-color: $white;

  .c-footer-banner__sticker1 {
    margin-top: -10px;

    &.banner-img01 {
      margin-left: 20px;
    }
  }

  .c-banner__sticker2 {
    .c-banner__speechbubble1 {
      margin-right: 40px;
    }

    .banner-img02 {
      margin-right: 70px;
    }
  }

  .c-footer-banner__sticker2 {
    img:first-child {
      margin-right: 20px;
      margin-top: -10px;
    }

    img:last-child {
      margin-right: 80px;
      margin-top: -10px;
    }
  }
}

.p-point__item01 {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.p-family__summary-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.p-family__summary-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

// 再利用可能
.p-protein_campaign_block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.p-protein_campaign_header {
  padding: 2rem 0;
  border-bottom: 1px solid $mainColor1;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
  }

  span {
    font-size: 1.5rem;
    color: $text-lightBlue;
    font-weight: 500;
  }
}

@media screen and (max-width: 1200px) {
  .p-family__case__item {
    flex-direction: column;
    max-width: 700px;
    margin: 0px auto;
    align-items: center;
  }

  .p-point__item01 {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .p-family__container__content01 {
    .c-flex-gap-30 {
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .p-family__container__content01 > div {
    padding: 100px 20px 80px 20px;
  }

  .p-family__content02-wrapper {
    padding: 50px 20px 80px 20px;
    gap: 30px;
  }

  .p-family__table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;

    tbody tr td:first-child {
      width: auto;
      min-width: auto;
    }

    tbody td {
      padding: 10px 0px;
    }
  }

  .p-family__summary-left > :first-child {
    padding-top: 50px;
  }

  .p-family__summary__label {
    min-width: 200px;
    font-size: 16px;
    padding: 8px 0px;
    text-align: center;
  }

  .p-family__summary {
    padding: 45px 15px 20px 15px;
  }

  .p-family__case__item {
    flex-direction: column;
    align-items: center;
  }

  .p-family__summary__last {
    padding-top: 60px;
    padding-bottom: 33px;
  }

  .p-family__summary-left,
  .p-family__case__item,
  .p-family__summary-right {
    gap: 20px;
  }

  .p-family__main {
    .c-footer-banner__sticker2 {
      img:last-child {
        height: 320px;
        width: auto;
        margin-right: 20px;
      }

      img:first-child {
        margin-right: -10px;
      }
    }
  }

  .p-point__item01 {
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .p-protein_campaign_header {
    p,
    span {
      font-size: 1rem;
    }
  }
}
