/* START BANNER */
.p-personal_banner {
  width: 100%;
  height: 53.5rem;
  background-image: url("../img/personal/banner_personal02.webp");
  background-size: cover;
  background-position: center top;
  position: relative;
}

.p-personal_banner_title {
  position: absolute;
  top: 35%;
  left: 8%;
  color: white;
}

.p-personal_banner_title h1 {
  line-height: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
}

/* BREADCRUMB */
.p-personal_breadcrumb {
  bottom: 5%;
  left: 8%;
}

/* END BANNER */

/* START AMAZONES AND CASE STUDY SECTION */

.p-personal_amazones_section {
  width: 100%;
  height: 100%;
  background-image: url("../img/common/bg_light_blue.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.p-personal_amazones_container {
  display: flex;
  flex-direction: column;
}

.p-personal_topic_text_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 43.75rem;
}

.p-personal_amazones_section_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #4f4f4f;
}

.p-personal_amazones_section_header p {
  font-size: 1.125rem;
  font-weight: 500;
}

.p-personal_amazones_section_header h2 {
  font-size: 6.25rem;
  line-height: 7.5rem;
  font-weight: 500;
}

.p-personal_topic_body p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
}

.p-personal_boxed_info {
  background-color: #fdfefe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.p-personal_boxed_info_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.p-personal_boxed_info_item p {
  font-weight: 600;
  font-size: 1.125rem;
}

.p-personal_case_study_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 15rem;
}

/* END AMAZONES AND CASE STUDY SECTION */

/* START CTA SECTION */
.p-personal_cta_section {
  width: 100%;
  height: 56.25rem;
  background-image: url("../img/personal/img_group_collage.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}

.p-personal_cta_ribbon {
  position: absolute;
  top: 0%;
  left: -10%;
}

.p-personal_cta_text_container {
  position: absolute;
  top: 50%;
  left: 12%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.p-personal_cta_text_container h2 {
  font-size: 3rem;
  line-height: 4.375rem;
  font-weight: 500;
}

.p-personal_cta_white_box {
  position: absolute;
  bottom: 0%;
  background-color: white;
  width: 100%;
}
