/* ============================================
    START RESERVATION BANNER
   ============================================ */
.p-reservation_banner {
  width: 100%;
  height: calc(100vw * 300 / 1920);
  position: relative;
  overflow: visible;
}

.p-reservation_banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-reservation_banner-img {
  position: absolute;
  right: -9.8%;
  top: -85%;
  width: auto;
  height: 325%;
  max-width: none;
}

.p-reservation_banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(79, 79, 79, 1) 0%,
    rgb(79, 79, 79, 1) 47%,
    rgb(79, 79, 79, 0) 100%
  );
  z-index: 1;
}

/* Ribbon banner SVG decoration */
.p-reservation_banner-ribbon {
  position: absolute;
  right: -45%;
  top: -43%;
  transform: translateY(-50%);
  height: 300%;
  width: auto;
  z-index: 2;
  pointer-events: none;
}

/* Text content */
.p-reservation_banner-content {
  position: absolute;
  top: 50%;
  left: 5.75rem;
  transform: translateY(-50%);
  z-index: 3;
}

.p-reservation_banner-title {
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: 0.08em;
  margin-bottom: 0.375rem;
  font-weight: 400;
}

.p-reservation_banner-subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--base-lightBlue);
  letter-spacing: 0.02em;
  margin-bottom: 1.5rem;
  font-weight: 300;
  padding-left: 0.75rem;
}

/* Custom Breadcrumb styles for reservation page  */
.p-reservation_breadcrumb {
  top: 140%;
}

/* ============================================
    END RESERVATION BANNER
   ============================================ */

/* ============================================
   START RESERVATION FLOW
   ============================================ */

.p-reservation_flow {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("../img/reservation/bg_reservation.svg");
  background-size: cover;
  background-position: 0% -20%;
  padding-bottom: 7rem;
}

.p-reservation_flow_content {
  position: relative;
}

/* STEPS */

.p-reservation_step_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.p-reservation_step_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
  background-color: white;
}

.p-reservation_step_card span {
  color: #f53662;
}

.p-reservation_step_card_body {
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  line-height: 2rem;
}

.p-reservation_step_card_icon {
  width: auto;
  height: auto;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: var(--base-lightBlue);
}

.p-reservation_step_card_title {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1rem;
}

.p-reservation_step_card_title h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-lightBlue);
}

.p-reservation_step_card_title > p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-black1);
}

/* RESERVATION LINKS */

.p-reservation_links-nav {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  gap: 2rem;
  cursor: pointer;
  margin-bottom: 10rem;
}

.p-reservation_links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--text-black1);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.p-reservation_links-item:hover {
  color: var(--base-lightBlue);
}

.p-reservation_title_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.p-reservation_flow_subtitle {
  font-size: 1.125rem;
  font-weight: 500;
}

.p-reservation_flow_title {
  font-size: 6.259rem;
  line-height: 1.3;
  font-weight: 400;
}

.p-reservation_speak_imgContainer {
  position: absolute;
  right: 20%;
  top: 65%;
}

/* ============================================
   END RESERVATION FLOW
   ============================================ */

/* ============================================
   START SIMULATION
   ============================================ */

.p-reservation_simulation {
  width: 100%;
  height: calc(100vw * 802 / 1920);
  position: relative;
  overflow: hidden;
}

.p-reservation_simulation::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/reservation/bg_reservation_simulation.webp");
  background-size: cover;
  background-position: 20% 42%;
  filter: blur(0.208vw) brightness(0.5);
  z-index: 0;
}

/* Ribbon simulation SVG decoration */
.p-reservation_simulation_ribbon {
  position: absolute;
  left: -2%;
  top: 83%;
  transform: translateY(-50%);
  height: 53%;
  width: auto;
  z-index: 1;
  pointer-events: none;
}

.p-reservation_simulation_people {
  position: absolute;
  bottom: 19%;
  left: 15%;
  z-index: 2;
}

.p-reservation_simulation_phone {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.p-reservation_simulation_phone img {
  position: relative;
  z-index: 2;
  display: block;
  height: 33.333vw;
  width: auto;
}

.p-reservation_simulation_phone_video {
  position: absolute;
  top: 2%;
  left: 5.5%;
  width: 89%;
  height: 95.5%;
  object-fit: fill;
  z-index: 1;
  border-radius: 1.5625vw;
  background-color: var(--base-lightBlue);
}

.p-reservation_simulation_content {
  position: absolute;
  right: 20%;
  top: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
}

.p-reservation_simulation_content p {
  font-weight: 400;
}

.p-reservation_simulation_content h2 {
  font-size: 5.208vw;
  font-weight: 400;
  line-height: 1.2;
}

.p-reservation_simulation_content > div {
  display: flex;
  flex-direction: column;
  gap: 1.667vw;
  width: 24.167vw;
  text-align: justify;
  line-height: 2;
}

/* ============================================
   END SIMULATION
   ============================================ */

/* ============================================
    START FORM
    ============================================ */
.p-reservation_form_section {
  background-image: url("../img/common/bg_light_blue.webp");
  background-size: cover;
  background-position: center;
}

.p-reservation_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-reservation_form_titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.p-reservation_form_titleContainer p {
  font-size: 1.125rem;
  font-weight: 500;
}

.p-reservation_form_titleContainer h2 {
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 1.2;
}

.p-reservation_form_content {
  position: relative;
  padding: 4rem;
  background-color: white;
}

.p-reservation_form_speak_bubble {
  position: absolute;
  left: 20.5%;
  bottom: -8.5%;
  width: auto;
  height: auto;
  z-index: 1;
}

/* ============================================
   END FORM
   ============================================ */

/* ============================================
   START ANNOUNCEMENT
   ============================================ */
.p-reservation_announcement_section {
  background-image: url("../img/common/bg_camouflage01.webp");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 5% 0%;
}

.p-reservation_announcement {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 62.5rem;
  justify-content: center;
  align-items: center;
}

.p-reservation_announcement_titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.p-reservation_announcement_titleContainer p {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-lightBlue);
}

.p-reservation_announcement_titleContainer h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.p-reservation_announcement_body {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-weight: 500;
}

.p-reservation_announcement_body span {
  color: var(--base-lightBlue);
  text-decoration: underline;
  cursor: pointer;
}

.p-reservation_announcement_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.p-reservation_announcement_people {
  position: absolute;
  bottom: -20%;
  left: 10%;
  width: auto;
  height: auto;
  z-index: 2;
}

.p-reservation_announcement_speak {
  position: absolute;
  bottom: -20%;
  right: -4%;
  width: auto;
  height: auto;
  z-index: 2;
}

/* ============================================
   END ANNOUNCEMENT
   ============================================ */

/* ============================================
   START FAQ
   ============================================ */

.p-reservation_faq_section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/common/img_gym01.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-reservation_faq {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 8rem 0;
}

.p_reservation_faq_card {
  display: flex;
  flex-direction: column;

  background-color: white;
  flex: 1;
}

.p_reservation_faq_card_header {
  display: flex;
  align-items: center;
}

.p_reservation_faq_card_header h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.p_reservation_faq_card_icon {
  background-color: var(--base-lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 5.625rem;
  width: 5.625rem;
}

.p_reservation_faq_card_icon_btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--base-lightBlue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_reservation_faq_card_body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 2rem 2.5rem;
}

.p_reservation_faq_card span {
  color: var(--base-lightBlue);
}

.p-reservation_faq_row {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

/* TABLET */
@media (max-width: 1024px) {
  .p-reservation_banner {
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: visible;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .p-reservation_faq_row {
    gap: 1.5rem;
  }
}
