/*HERO SECTION IMG SLIDER*/
.hero-text-slider-container {
  position: absolute;
  top: 214px;
  left: 105px;
  z-index: 1;
}
.carousel-container {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 0;
}

.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  width: 100%;
  /* max-height: 860px; */
  /* object-fit: cover; */
  /* aspect-ratio: 16 / 9; */
}
.dots {
  cursor: pointer;
  height: 3px;
  width: 25px;
  margin: 0px 0px;
  background-color: var(--base-white);
  backdrop-filter: blur(2px);
  display: inline-block;
  transition: background-color 0.3s ease;
}
.active,
.dots:hover {
  background-color: var(--base-lightBlue);
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 5s;
  animation-name: animate;
  animation-duration: 5s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}

/*END HERO SECTION SLIDER*/

/*TOP NEWS SECTION*/
.news-section {
  background-image: url("/assets/img/top/bg_news_section.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.news-tabs-container {
  width: 100%;
  max-width: 1200px;
}
[data-widget="tabs"] .tabs-panel[aria-selected="false"] {
  display: none;
}
[data-widget="tabs"] .tabs-panel[aria-selected="true"] {
  display: flex;
}

@media (min-width: 1025px) {
  [data-widget="tabs"] .tabs-control {
    flex-shrink: 1;
  }
}

[data-widget="tabs"] [data-type="fancy"].tabs-controls {
  width: auto;
  position: relative;
  display: inline-flex;
  gap: 2px;
  isolation: isolate;
  width: 100%;
}
[data-widget="tabs"] [data-type="fancy"].tabs-controls::before {
  content: "";
  height: 100%;
}
[data-widget="tabs"] [data-type="fancy"].tabs-controls .tabs-control {
  background-color: var(--base-white);
  border: 1px solid var(--base-lightBlue);
  color: var(--text-lightBlue);
  font-weight: 500;
  padding: 10px;
  height: 40px;
  width: 100%;
  max-width: 298px;
  transition: all 0.3s ease-in-out;
}
[data-widget="tabs"] [data-type="fancy"].tabs-controls .tabs-control:hover {
  background-color: var(--base-lightBlue);
  color: var(--text-white);
}
[data-widget="tabs"]
  [data-type="fancy"].tabs-controls
  .tabs-control[aria-selected="true"] {
  background-color: var(--base-lightBlue);
  color: var(--text-white);
}
[data-widget="tabs"] [data-type="fancy"].tabs-controls .tabs-control::before {
  content: unset;
}
.news-section .panel-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}
.news-section .panel-content:hover p:last-child {
  color: var(--text-lightBlue);
  transition: all 0.3s ease-in-out;
}
.news-section .tabs-panel {
  padding-top: 40px;
}
.news-info-container {
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--base-gray);
}
.news-info-container:last-child {
  border-bottom: none;
}
.news-section .news-label {
  background-color: var(--base-gray);
  padding: 10px 0px;
  min-width: 140px;
  width: fit-content;
  text-align: center;
}

.news-banner-context {
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 827.6px;
}
.news-banner-img {
  width: 100vw;
  min-height:578px;
  object-fit: cover;
}
.news-30min-label {
  display: inline-flex;
  align-items: center;
  background-color: var(--base-lightBlue);
  height: 50px;
  padding-left: 32px;
  padding-right: 42px;
}
.news-30min-label img {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -15px;
}

/*END TOP NEWS SECTION*/







/*TOP TEXT SLIDER*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.text-slider {
  height: 80px;
  display:flex;
  flex-direction:row;
  align-items:center;
  overflow: hidden;
  position: relative;
  margin-top:-5px;
}

.text-slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.text-slider .slide {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base-grayBlue);
  box-sizing: border-box;
}

.text-slider .slide p{
    text-wrap:nowrap;
}

/*END TOP TEXT SLIDER*/
